/* Common Shared Style */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 15px 35px;
}

.orange-primary {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

main section {
    margin-top: 130px;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;

}

/* header style */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

/* .developer-img{
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: left;
    padding: 38px 0 25px 25px;
} */
.banner {
    padding: 30px 30px 0 200px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.banner .profile-pic {
    width: 500px;
}

.banner-gretting {
    margin-bottom: 0;
}

.banner-title {
    margin-top: 5px;
}

.banner-description {
    margin-top: 20px;
}

.banner-content {
    max-width: 500px;
}

/* main sectio */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* section part */

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

.about {
    padding: 130px;
    border-radius: 10px;
    /* background: #FFF8F3; */
    background-image: url('../images/header_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    font-weight: 100;
}

#what-i-do-description {
    padding: 30px 150px;
}

/* skill styled */
.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    text-align: justify;
}

.skill-description {
    color: #757575;
}

/* resume styled  */
.resume-container {
    display: flex;
    gap: 24px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item-university {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-item-descrioption {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume-container hr {
    margin: 30px 0;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer styled  */
footer {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    
}

.footer-column {
    width: 50%;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
.title-left{
    text-align: left;
}